Source: dnscrypt-openrc
Section: misc
Priority: important
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: dnscrypt-openrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc, dnscrypt-proxy
Conflicts: systemd, systemd-sysv
Description: Package to add dnscrypt-proxy configuration for OpenRC.
 This package will add the boot scripts to use dnscrypt-proxy
 with OpenRC in Nitrux.

